

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="navbar-brand">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <li class="navbar-brand">
            <a class="nav-link" href="/cadastroFilmes">Cadastrar Filmes</a>
          </li>
        </ul>
        <form class="d-flex" [formGroup] = 'filmeSerch'>
          <input class="form-control me-2" type="search" placeholder="Listar Filmes" aria-label="Search" formControlName="Titulo">
          <button class="btn btn-secondary" type="submit" (click)="pesquisar()">Buscar</button>
        </form>
      </div>
    </div>
  </nav>
  
